* {
     margin: 0;
     padding: 0;
}

.product {
     width: 300px;
     height: 508px;
     border: 1px solid #BDC3C8;
     border-radius: 8px;
     position: relative;

}

.product img {
     width: 286px;
     height: 286px;
     border-radius: 8px;
     margin: 7px;
}


.product-name {

     font-style: normal;
     font-weight: 400;
     font-size: 21px;
     line-height: 25px;
}

.product-info {
     margin: 14px;
}

.product-price {
     font-size: 17px;
     line-height: 20px;
     letter-spacing: 0.0015em;
     margin-top: 11px;
     margin-bottom: 14px;
}

.product-other-info {
     font-size: 12px;
     line-height: 14px;
     position: absolute;
     bottom: 11.81%;

}

.product-button {
     font-size: 15px;
     line-height: 18px;
     position: absolute;
     left: 0%;
     right: 0%;
     top: 90.75%;
     bottom: -0.2%;
     background: #FFE0B3;
     border: none;
     border-top: 1px solid #95A0A7;
     border-bottom: 1px solid #95A0A7;
     border-radius: 0px 0px 8px 8px;

}

.product-button:hover {
     background: orange;
}